/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html,
body {
  background: #d8ebe4;
}

h1,
h3,
h5 {
  text-align: center;
}

.btn {
  background: #007580;
  border-color: #007580;
  border-style: solid;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  line-height: 30px; 
  background-color: #282846;
  text-align: center;
}

.footer p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#navbar-brand {
  color: #fed049;
  font-size: 2rem;
  font-weight: bolder;
}

#tacocat-logo {
  height: 50px;
  margin-bottom: 15px;
  width: auto;
}

.hero-div {
  text-align: center;
}

.hero {
  width: 70%;
  height: auto;
  padding-top: 30px;
}

@media(min-width: 768px) {
  #app-row {
    margin-right: 25%;
    margin-left: 25%;
    width: 50%;
  }
}

#app-form {
  display: block;
}

.app-container {
  padding-top: 100px;
}

.result {
  display: none;
  opacity: 0;
}


#app-hero {
  height: 15%;
  width: auto;
}

.intro {
  padding-top: 50px;
}

.page-break {
  width: 100%;
  text-align: center;
}

/* Header */

.navbar {
  background-color:#282846;
}

.nav-item {
  margin-left: 2.5rem;
}

.nav-social-buttons {
  width: 10rem;
}

.footer-social-buttons {
  width: 50rem;
}

.nav-social-buttons a {
  margin-right: 1rem;
}

.nav-icons {
  color: white;
}

/* End Header */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.headshot-div {
  text-align: center;
}

.headshot {
  width: 60%;
  height: auto;
  padding-top: 30px;
  vertical-align: center;
}